@import base

ul.posts
  list-style: none

.date
  float: left
  width: 120px

.post-box
  margin-left: 160px
  .title
    font-size: 25px
  .read-more
    text-align: right
    font-size: 14px

.paging
  text-align: right
  font-size: 14px
  a.prev
    float: left
